<div class="modal-header">
  <h5 class="modal-title">{{'APP.COMMON.SET_PASSWORD' | translate}}</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onDismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="setPasswordForm">
    <fieldset>
      <div formGroupName="passwordGroup">
          <div class="form-group">
              <input name="email" type="email" class="form-control"
              aria-describedby="emailHelp" type="email" formControlName="emailControl" value="{{email}}" readonly>
          </div>    
        <div class="form-group">
          <input class="form-control" placeholder="{{'APP.SET_PASSWORD_STAFF.ENTER_NEW_PASSWORD' | translate}}" formControlName="password" type="password"
            [ngClass]="{'is-invalid': (setPasswordForm.get('passwordGroup.password')?.touched ||
            setPasswordForm.get('passwordGroup.password')?.dirty)&&
                                             !setPasswordForm.get('passwordGroup.password')?.valid}">
          <span class="error invalid-feedback" *ngIf="(setPasswordForm.get('passwordGroup.password')?.touched ||
          setPasswordForm.get('passwordGroup.password')?.dirty)&&
          setPasswordForm.get('passwordGroup.password')?.errors">
            <span *ngIf="setPasswordForm.get('passwordGroup.password')?.errors?.required">
                {{'APP.SET_PASSWORD_STAFF.EMPTY_PASSWORD' | translate}}
            </span>
            <span *ngIf="setPasswordForm.get('passwordGroup.password')?.errors?.minlength">
                {{'APP.SET_PASSWORD_STAFF.PASSWORD_MIN_LENGTH' | translate}}
            </span>
          </span>
        </div>

        <div class="form-group">
          <input class="form-control" placeholder="{{'APP.SET_PASSWORD_STAFF.CONFIRM_PASSWORD' | translate}}" formControlName="confirmPassword" type="password"
            [ngClass]="{'is-invalid': (setPasswordForm.get('passwordGroup.confirmPassword')?.touched ||
            setPasswordForm.get('passwordGroup.confirmPassword')?.dirty)&&
                                             (!setPasswordForm.get('passwordGroup.confirmPassword')?.valid ||
                                             !setPasswordForm.get('passwordGroup')?.valid) }">
          <span class="error invalid-feedback" *ngIf="(setPasswordForm.get('passwordGroup.confirmPassword')?.touched ||
          setPasswordForm.get('passwordGroup.confirmPassword')?.dirty) &&
                                             (setPasswordForm.get('passwordGroup.confirmPassword')?.errors ||
                                             setPasswordForm.get('passwordGroup')?.errors)">
            <span *ngIf="setPasswordForm.get('passwordGroup.confirmPassword').errors?.required">
                {{'APP.SET_PASSWORD_STAFF.EMPTY_CONFIRM_PASSWORD' | translate}}
            </span>
            <span *ngIf="setPasswordForm.get('passwordGroup')?.errors?.match && !setPasswordForm.get('passwordGroup.confirmPassword')?.errors">
                {{'APP.SET_PASSWORD_STAFF.PASSWORD_NOT_MATCH' | translate}}
            </span>

          </span>
        </div>
      </div>
    </fieldset>
  </form>

</div>
<div class="modal-footer">
  <button [disabled]="!setPasswordForm.valid" class="btn btn-primary" type="button" (click)="onClickSetPasword()">{{'APP.COMMON.SET_PASSWORD' | translate}}</button>
</div>