<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/site/site.min.css" />
    <script src="~/site/site.min.js"></script>
</head>
<body class="theme-black">
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
