@{
    Layout = "_Layout-not-login";
}


<div class="notification-page">
    <img src="~/images/login-logo.png" alt="Login Logo" class="login-logo">
    <div class="login-panel panel-default">
        <div class="notification">
            <h1>Check your email</h1>
            <p>We just sent an email to you with a link to reset your password!</p>
        </div>
    </div>
</div>
