@using Harvey.Ids.ViewModels.Accounts
@model ForgotPasswordViewModel

@{
    Layout = "_Layout-not-login";
}

<div class="login-page">
    <img src="~/images/login-logo.png" alt="Login Logo" class="login-logo">
    <div class="login-panel panel-default">
        <div class="panel-body">
            <h2 class="text-center">Forgot password</h2>

            <form id="forgot_password" method="POST" asp-controller="Account" asp-action="ForgotPassword">
                <div class="msg">
                    Enter the email address you used to register. We'll send you an email with your username and a
                    link to reset your password.
                </div>
                <div class="input-group">
                    @*<span class="input-group-addon">
                    <i class="material-icons">email</i>
                </span>*@
                    <div class="form-line">
                        <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
                    </div>
                </div>

                <button class="btn btn-block btn-lg bg-color waves-effect fp-button-submit" type="submit">RESET MY PASSWORD</button>

                <div class="row m-t-20 m-b--5 align-center">
                    <a asp-controller="Account" asp-action="Login">Back to sign in</a>
                </div>
            </form>
        </div>
    </div>
</div>

            
