@using Harvey.Ids.ViewModels.Accounts
@model ResetPasswordViewModel

@{
    Layout = "_Layout-not-login";
}

<div class="login-page">
    <img src="~/images/login-logo.png" alt="Login Logo" class="login-logo">
    <div class="login-panel panel-default">
        <div class="panel-body">
            <h2 class="text-center">Reset password</h2>
            <hr>
            @Html.Partial("_ValidationSummary")

            <form asp-route="ForgotPassword">
                <input hidden="hidden" asp-for="Username">
                <div class="form-group">
                    <input class="login-input" placeholder="Password" asp-for="Password" autofocus required>
                </div>
                <div class="form-group">
                    <input class="login-input" placeholder="Confirm Password" asp-for="ConfirmPassword" autofocus required>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-lg bg-color waves-effect fp-button-submit" name="button" value="save">SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>