<div class="term-and-privacy-page w-100">
    <div *ngIf="isLoading" class="loading">
        <app-loading></app-loading>
    </div>
    <div class="content-terms p-3 w-100">
        <h1>TOG – Toy Or Game Member Rewards</h1>
        <br />
        <h2>{{termOfUseTitle}}</h2>
        <div [innerHTML]="termOfUseContent"></div>
        
        <h2>Rewards Program Overview</h2>
        <p>TOG Member Rewards is one way in which TOG aims to reward and thank loyal customers for patronizing TOG
            stores
            in Singapore. To join TOG Member Rewards and receive program privileges, you will first need to create a
            TOG
            Member account by entering your mobile number at the tablet or browser provided in the participating
            stores.
        </p>
        <p>The TOG Member Rewards program registration process may require that you provide certain personal
            information
            using the registration form, including: mobile number, last name, first name, email address, gender,
            birthday,
            postal code, password, and marketing preferences.</p>
        <p>You will receive welcome message, verification message, additional personalised offers, promotions and event
            invitations
            from TOG through its messaging channels include but not limited to email, push notifications, SMS and
            WhatsApp,
            so you must provide a valid mobile number and email address, and opt-in to receive such message,
            notification,
            promotional and marketing offers from TOG.</p>
        <h2>Membership</h2>
        <p>In these Terms of Service, “activation” means that you have join our TOG Member Rewards program as a
            Premium+
            Member for S$20 for 1-year membership that offers you welcome gift, special price for selected products
            and/or
            services in participating stores, earn reward points through your spending in participating stores,
            birthday
            reward and to redeem reward under TOG Member Rewards program.</p>
        <p>Reward points are loaded electronically to your TOG Member Rewards account. Reward Points accumulated under
            the
            program have no cash value. No rewards may be exchanged for cash. You can view and track your available
            reward
            points and expiry on member.app.toyorgame.com.sg</p>
        <p>Unless specifically provided to the contrary, only one reward may be redeemed with each transaction. This
            means
            that you cannot use more than one reward together in the same transaction.</p>
        <p>Your privileges and your account under TOG Member Rewards program are personal to you, and except as
            expressly
            permitted under these Terms of Service or the rules of a promotional program, may not be sold, transferred
            or
            assigned to, or shared with family, friends or others.</p>
        <p>TOG reserves the right to terminate your account and/or your participation in TOG Member Rewards program if
            TOG
            determines in its sole discretion that you have violated these Terms of Service, or that the use of your
            account
            is unauthorised, fraudulent or otherwise unlawful.</p>
        <p>TOG also reserves the right to “unregister” and make ineligible for TOG Member Rewards program any TOG
            Member
            Rewards account that has been inactive for two (2) consecutive years. In these Terms of Service, “inactive”
            is
            defined as having no purchase activity.</p>
        <p>TOG reserves the right to terminate, discontinue, modify or cancel the TOG Member Rewards program at any
            time
            and in its sole discretion by posting the revisions without giving specific notice to you.</p>
        <h2>Loading Value</h2>
        <p>TOG Member Rewards account allows you to load value by using cash, as a pre-payment for purchases of goods
            and
            services at participating stores. No credit card, credit line, overdraft protection or deposit account is
            associated
            with TOG Member Rewards program. No interest, dividends or any other earnings on funds loaded on to a TOG
            Member
            Rewards account will accrue or be paid or credited to you by TOG. The value associated with the TOG Member
            Rewards
            account is not insured or guaranteed by any person or entity.</p>
        <p>We reserve the right not to accept any TOG Member Rewards account or otherwise limit the use of a TOG Member
            Rewards
            account if we reasonably believe that the use is fraudulent or otherwise unlawful.</p>
        <p>TOG may apply or change maximum and minimum amounts at any time by notifying you at the point of sale or on
            TOG
            website and such change shall not constitute an amendment to this agreement.</p>
        <h2>Redemption</h2>
        <p>All reward privileges are valid only within their stipulated periods.</p>
        <h2>Billing Errors, Corrections</h2>
        <p>We reserve the right to correct the balance of your reward points or loaded values if we believe that a
            clerical,
            billing or accounting error has occurred. If you have questions regarding your transaction history or any
            correction,
            or if you dispute any transaction or correction that has been assessed against your TOG Member Rewards
            account,
            please contact us and we will conduct an investigation, and provide an update as soon as we finish the
            investigation.
            If no error was found, we will communicate an explanation. We will have no liability for any billing error
            unless
            you provide us notice within sixty (60) days of the date of the transaction in question. Please monitor
            your
            transactions and account balances closely.</p>
        <h2>Third-party Links</h2>
        <p>Certain content, products and services available via our Service may include materials from third-parties.</p>
        <p>Third-party links on this site may direct you to third-party websites that are not affiliated with us. We
            are
            not responsible for examining or evaluating the content or accuracy and we do not warrant and will not have
            any
            liability or responsibility for any third-party materials or websites, or for any other materials,
            products,
            or services of third-parties.</p>
        <p>We are not liable for any harm or damages related to the purchase or use of goods, services, resources,
            content,
            or any other transactions made in connection with any third-party websites. Please review carefully the
            third-party's
            policies and practices and make sure you understand them before you engage in any transaction. Complaints,
            claims,
            concerns, or questions regarding third-party products should be directed to the third-party.</p>
        <h2>Personal Information</h2>
        <p>Your submission of personal information through the store or online is governed by our Privacy Policy.</p>
        <h2>Errors, Inaccuracies and Omissions</h2>
        <p>Occasionally there may be information on our site or in the Service that contains typographical errors,
            inaccuracies
            or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping
            charges,
            transit times and availability. We reserve the right to correct any errors, inaccuracies or omissions, and
            to
            change or update information or cancel orders if any information in the Service or on any related website
            is
            inaccurate at any time without prior notice (including after you have submitted your order).</p>
        <p>We undertake no obligation to update, amend or clarify information in the Service or on any related website,
            including
            without limitation, pricing information, except as required by law. No specified update or refresh date
            applied
            in the Service or on any related website, should be taken to indicate that all information in the Service
            or
            on any related website has been modified or updated.</p>
        <h2>Prohibited Uses</h2>
        <p>In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the
            site
            or its content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any
            unlawful
            acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local
            ordinances;
            (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of
            others;
            (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on
            gender,
            sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or
            misleading
            information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used
            in
            any way that will affect the functionality or operation of the Service or of any related website, other
            websites,
            or the Internet; (h) to collect or track the personal information of others; (i) to spam, phish, pharm,
            pretext,
            spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent
            the
            security features of the Service or any related website, other websites, or the Internet. We reserve the
            right
            to terminate your use of the Service or any related website for violating any of the prohibited uses.</p>
        <h2>Disclaimer of Warranties; Limitation of Liability</h2>
        <p>We do not guarantee, represent or warrant that your use of our service will be uninterrupted, timely, secure
            or
            error-free.</p>
        <p>We do not warrant that the results that may be obtained from the use of the service will be accurate or
            reliable.</p>
        <p>You agree that from time to time we may remove the service for indefinite periods of time or cancel the
            service
            at any time, without notice to you.</p>
        <p>You expressly agree that your use of, or inability to use, the service is at your sole risk. The service and
            all
            products and services delivered to you through the service are (except as expressly stated by us) provided
            'as
            is' and 'as available' for your use, without any representation, warranties or conditions of any kind,
            either
            express or implied, including all implied warranties or conditions of merchantability, merchantable
            quality,
            fitness for a particular purpose, durability, title, and non-infringement.</p>
        <p>In no case shall TOG Connection PTE LTD, our directors, officers, employees, affiliates, agents,
            contractors,
            interns, suppliers, service providers or licensors be liable for any injury, loss, claim, or any direct,
            indirect,
            incidental, punitive, special, or consequential damages of any kind, including, without limitation lost
            profits,
            lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in
            contract,
            tort (including negligence), strict liability or otherwise, arising from your use of any of the service or
            any
            products procured using the service, or for any other claim related in any way to your use of the service
            or
            any product, including, but not limited to, any errors or omissions in any content, or any loss or damage
            of
            any kind incurred as a result of the use of the service or any content (or product) posted, transmitted, or
            otherwise
            made available via the service, even if advised of their possibility. Because some states or jurisdictions
            do
            not allow the exclusion or the limitation of liability for consequential or incidental damages, in such
            states
            or jurisdictions, our liability shall be limited to the maximum extent permitted by law.</p>
        <h2>Indemnification</h2>
        <p>You agree to indemnify, defend and hold harmless TOG Connection PTE LTD and our parent, subsidiaries,
            affiliates,
            partners, officers, directors, agents, contractors, licensors, service providers, subcontractors,
            suppliers,
            interns and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any
            third-party
            due to or arising out of your breach of these Terms of Service or the documents they incorporate by
            reference,
            or your violation of any law or the rights of a third-party.</p>
        <h2>Severability</h2>
        <p>In the event that any provision of these Terms of Service is determined to be unlawful, void or
            unenforceable,
            such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the
            unenforceable
            portion shall be deemed to be severed from these Terms of Service, such determination shall not affect the
            validity
            and enforceability of any other remaining provisions.</p>
        <h2>Termination</h2>
        <p>The obligations and liabilities of the parties incurred prior to the termination date shall survive the
            termination
            of this agreement for all purposes.</p>
        <p>These Terms of Service are effective unless and until terminated by either you or us. You may terminate
            these
            Terms of Service at any time by notifying us that you no longer wish to use our Services, or when you cease
            using
            our site.
        </p>
        <p>If in our sole judgment you fail, or we suspect that you have failed, to comply with any term or provision
            of
            these Terms of Service, we also may terminate this agreement at any time without notice and you will remain
            liable
            for all amounts due up to and including the date of termination; and/or accordingly may deny you access to
            our
            Services (or any part thereof).</p>
        <h2>Entire Agreement</h2>
        <p>The failure of us to exercise or enforce any right or provision of these Terms of Service shall not
            constitute
            a waiver of such right or provision.</p>
        <p>These Terms of Service and any policies or operating rules posted by us on this site or in respect to The
            Service
            constitutes the entire agreement and understanding between you and us and govern your use of the Service,
            superseding
            any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you
            and
            us (including, but not limited to, any prior versions of the Terms of Service).</p>
        <p>Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting
            party.</p>
        <h2>Changes to Terms of Service</h2>
        <p>You can review the most current version of the Terms of Service at any time at this page.</p>
        <p>We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of
            Service
            by posting updates and changes to our website. It is your responsibility to check our website periodically
            for
            changes. Your continued use of or access to our website or the Service following the posting of any changes
            to
            these Terms of Service constitutes acceptance of those changes.</p>
        <h2>Questions And Contact Information</h2>
        <p>If you have any questions regarding this Terms of Service and Agreement, please contact us at
            ecommerce@toyorgame.com.sg.</p>
        <br />
        <h2>{{policyTitle}}</h2>
        <div [innerHTML]="policyContent"></div>
        <h2>What Do We Do With Your Information?</h2>
        <p>We receive and store information you enter on our website, mobile applications or give us in any other way.</p>
        <p>When you purchase products and services from our store, as part of the buying- selling process, member
            profile
            update and participation in surveys, we collect the personal information you have provided to us such as
            your
            first name, last name, mobile number, email address, gender, postal address and date of birth (collectively
            known
            as ‘Personal Data’), billing information (such as credit card number and other payment information), what
            you
            transact, where you transact, how frequently you transact, rewards you earn, and rewards you redeem.</p>
        <p>When you browse our websites, we also automatically receive your Internet protocol (IP) address, browser
            type
            and operating system, Internet service provider, domain name, access times, the website that referred you
            to
            us, the Web pages you requests, and the date and time of those requests. Our collection of information may
            involve
            the use of cookies and beacons. We may also collect aggregated data or anonymized data that does not
            directly
            identify you. We may combine information we collect about you with information we received from third
            parties.</p>
        <p>SMS, WhatsApp and Email marketing (if applicable): With your permission, we may send you personalised
            promotions
            about our store, new products and other updates.</p>
        <p>We may share or disclose your personal and billing information in limited ways with our parent and other
            affiliated
            entities, vendors, payment services providers, email vendors, social media and engagement platforms. These
            third
            parties may use information about you to perform their functions on our behalf.</p>
        <h2>Consent</h2>
        <p>How do you get my consent?</p>
        <p>When you provide us with personal information to register and account, complete a transaction, verify your
            credit
            card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our
            collecting
            it and using it for that specific reason.
        </p>
        <p>If we ask for your personal information for a secondary reason, like marketing, we will either ask you
            directly
            for your expressed consent, or provide you with an opportunity to say no.</p>
        <p>How do I withdraw my consent?</p>
        <p>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the
            continued
            collection, use or disclosure of your information, at any time, by contacting us at
            ecommerce@toyorgame.com.sg.</p>
        <h2>Disclosure</h2>
        <p>We may disclose your personal information if we are required by law to do so or if you violate our Terms of
            Service.</p>
        <h2>Third-Party Services</h2>
        <p>In general, the third-party providers used by us will only collect, use and disclose your information to the
            extent
            necessary to allow them to perform the services they provide to us.</p>
        <p>However, certain third-party service providers, such as payment gateways and other payment transaction
            processors,
            have their own privacy policies in respect to the information we are required to provide to them for your
            purchase-related
            transactions.
        </p>
        <p>For these providers, we recommend that you read their privacy policies so you can understand the manner in
            which
            your personal information will be handled by these providers.
        </p>
        <p>In particular, remember that certain providers may be located in or have facilities that are located in a
            different
            jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the
            services
            of a third-party service provider, then your information may become subject to the laws of the
            jurisdiction(s)
            in which that service provider or its facilities are located.</p>
        <p>Once you leave our site or are redirected to a third-party website or application, you are no longer
            governed
            by this Privacy Policy or our Terms of Service.</p>
        <h2>Links</h2>
        <p>When you click on links on our site, they may direct you away from our site. We are not responsible for the
            privacy
            practices of other sites and encourage you to read their privacy statements.</p>
        <h2>Security</h2>
        <p>To protect your personal information, we take reasonable precautions and follow industry best practices to
            make
            sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>
        <p>If you provide us with your credit card information, the information is encrypted using secure socket layer
            technology
            (SSL) and stored with a AES-256 encryption. Although no method of transmission over the Internet or
            electronic
            storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted
            industry
            standards.
        </p>
        <h2>Age Of Consent</h2>
        <p>By using this site, you represent that you are at least the age of majority in your state or province of
            residence,
            or that you are the age of majority in your state or province of residence and you have given us your
            consent
            to allow any of your minor dependents to use this site.</p>
        <h2>Changes to Privacy Policy</h2>
        <p>You can review the most current version of the Privacy Policy at any time at this page.
        </p>
        <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and
            clarifications
            will take effect immediately upon their posting on the website. If we make material changes to this policy,
            we
            will notify you here that it has been updated, so that you are aware of what information we collect, how we
            use
            it, and under what circumstances, if any, we use and/or disclose it.</p>
        <p>If our store is acquired or merged with another company, your information may be transferred to the new
            owners
            so that we may continue to sell products and provide services to you.</p>
        <h2>Questions And Contact Information</h2>
        <p>If you would like to: access, correct, amend or delete any personal information we have about you, register
            a
            complaint, or simply want more information, please contact our Privacy Compliance Officer at
            ecommerce@toyorgame.com.sg.</p>
    </div>
    <div class="w-100 d-flex flex-row justify-content-center p-2">
        <label class="custom-control fill-checkbox">
            <input type="checkbox" class="fill-control-input" (click)="onClickCheckboxJoin()">
            <span class="fill-control-indicator"></span>
            <span class="fill-control-description h4 ml-2">{{agreeContent}}</span>
        </label>
    </div>
    <div class="button-group w-100 p-3">
        <button class="button btn btn-success btn-retry rounded w-50" [ngClass]="{'hide': !isJoin}" (click)="onClickJoinButton()">{{'BUTTON.join'|translate}}</button>
        <button class="button btn btn-secondary btn-retry rounded ml-3 w-50" (click)="onClickBackButton()">{{'BUTTON.back'|translate}}</button>
    </div>
</div>