<div class="navigate-button">
  <div class="navigate-button__container" (click)="navigateToHome()">
    <i class="icon--navigate fas fa-home"></i>
    <label class="icon--name">{{'BUTTON.home'|translate}}</label>
  </div>

  <div class="navigate-button__container" (click)="navigateToAccount()">
    <i class="icon--navigate far fa-user"></i>
    <label class="icon--name">{{'BUTTON.account'|translate}}</label>
  </div>

  <div class="navigate-button__container" (click)="navigateToQRCode()">
    <i class="icon--navigate fas fa-qrcode"></i>
    <label class="icon--name">{{'BUTTON.qrCode'|translate}}</label>
  </div>

  <div class="navigate-button__container" (click)="navigateToEditProfile()">
    <i class="icon--navigate fas fa-id-card"></i>
    <label class="icon--name">{{'BUTTON.profile'|translate}}</label>
  </div>
</div>
