.reset-password {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  .tog-logo {
    width: 30%;
    padding-top: 5%;
    margin-bottom: 20px;
    align-self: center;
  }
  .card-header {
    text-align: center;
  }
  .group-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .btn {
    min-width: 100px;
    &--reset-password {
      background-color: #e42c00;
      color: #ffffff;
    }
    &--reset-password:hover{
      background-color: #ff4518;
    }
  }
}
