<div class="container reset-password">
  <img class="tog-logo" src="../../../../assets/img/logo/300_dpi_black.png">
  <div class="card">
    <div class="card-header">{{'PASSWORD.header-reset-password'|translate}}</div>
    <div class="card-body">
      <form [formGroup]="resetPasswordForm">
        <fieldset>
          <div formGroupName="passwordGroup">
            <div class="form-group">
              <input class="form-control"
                     placeholder="{{'PASSWORD.enter-new-password'|translate}}"
                     formControlName="password"
                     type="password"
                     [ngClass]="{'is-invalid': (resetPasswordForm.get('passwordGroup.password').touched ||
                                               resetPasswordForm.get('passwordGroup.password').dirty)&&
                                               !resetPasswordForm.get('passwordGroup.password').valid}">
              <span class="error invalid-feedback" *ngIf="(resetPasswordForm.get('passwordGroup.password').touched ||
                                               resetPasswordForm.get('passwordGroup.password').dirty)&&
                                               resetPasswordForm.get('passwordGroup.password').errors">
                <span *ngIf="resetPasswordForm.get('passwordGroup.password').errors.required">
                  {{'ERROR.emptyPassword'|translate}}
                </span>
                <span *ngIf="resetPasswordForm.get('passwordGroup.password').errors.minlength">
                  {{'ERROR.passwordMinLength'|translate}}
                </span>
            </span>
            </div>

            <div class="form-group">
              <input class="form-control"
                     placeholder="{{'PASSWORD.confirm-password'|translate}}"
                     formControlName="confirmPassword"
                     type="password"
                     [ngClass]="{'is-invalid': (resetPasswordForm.get('passwordGroup.confirmPassword').touched ||
                                               resetPasswordForm.get('passwordGroup.confirmPassword').dirty)&&
                                               (!resetPasswordForm.get('passwordGroup.confirmPassword').valid ||
                                               !resetPasswordForm.get('passwordGroup').valid) }">
              <span class="error invalid-feedback" *ngIf="(resetPasswordForm.get('passwordGroup.confirmPassword').touched ||
                                               resetPasswordForm.get('passwordGroup.confirmPassword').dirty) &&
                                               (resetPasswordForm.get('passwordGroup.confirmPassword').errors ||
                                                resetPasswordForm.get('passwordGroup').errors)">
                  <span *ngIf="resetPasswordForm.get('passwordGroup.confirmPassword').errors?.required">
                    {{'ERROR.emptyConfirmPassword'|translate}}
                  </span>
                <span
                  *ngIf="resetPasswordForm.get('passwordGroup').errors?.notMatch && !resetPasswordForm.get('passwordGroup.confirmPassword').errors">
                  {{'ERROR.password-not-match'|translate}}
                </span>

            </span>
            </div>
          </div>
          <div class="group-action">
            <button (click)="resetPassword()"
                    type="button"
                    class="btn btn--reset-password"
                    [disabled]="!resetPasswordForm.get('passwordGroup').valid">{{'BUTTON.reset-password'|translate}}
            </button>
          </div>
        </fieldset>
      </form>
      <br>
    </div>
  </div>
</div>
