<div class="row">
  <p class="col-sm-6 list-view-title h4">
    {{title}}
  </p>

  <div class="col-sm-6 search" [hidden]="isHiddenSearchBox">
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control" [(ngModel)]="searchText" #searchInput name="searchText" type="search" placeholder="Search"
        aria-label="Search">
    </form>
  </div>
</div>

<div class="columns-dropdown">
  <ng-select #selection [items]="columns" placeholder="Select columns to show" [(ngModel)]="selectedColumns" class="custom"
    [clearable]=false [multiple]=true (ngModelChange)="onChange($event)" (remove)="onRemove($event)">
  </ng-select>
</div>

<div class="datatable">
  <ngx-datatable #myTable class='material' [rows]='datasource' [columnMode]="'force'" [headerHeight]="50"
    [footerHeight]="50" [rowHeight]="'auto'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [externalPaging]="true" [count]="totalItems" [offset]="pageNumber" [limit]="pageSize" (page)='setPage($event)'
    (select)='onSelect($event)' [selectionType]="'single'">

    <ngx-datatable-column *ngFor="let col of selectedColumns" [name]="col">
    </ngx-datatable-column>
  </ngx-datatable>
</div>