.ng-select.custom {
    width: 300px;
}

.columns-dropdown {
    display: flex;
    padding: 20px 20px 10px 0;
    justify-content: flex-end;
}

.datatable{
    width: 100%;
    padding: 10px 20px;
}

.search{
    display: flex;
    justify-content: flex-end;
    padding: 0 35px;
}