<div class="virtual-keyboard">
  <div class="virtual-keyboard__row">
    <div class="virtual-keyboard__row-button"
         (click)="addNumber(1)">
      <div class="virtual-keyboard__row-button-label">
        <p class="number">1</p>
      </div>
    </div>
    <div class="virtual-keyboard__row-button"
         (click)="addNumber(2)">
      <div class="virtual-keyboard__row-button-label">
        <p class="number">2</p>
      </div>
    </div>
    <div class="virtual-keyboard__row-button --non-border-right"
         (click)="addNumber(3)">
      <div class="virtual-keyboard__row-button-label">
        <p class="number">3</p>
      </div>
    </div>
  </div>
  <div class="virtual-keyboard__row">
    <div class="virtual-keyboard__row-button"
         (click)="addNumber(4)">
      <div class="virtual-keyboard__row-button-label">
        <p class="number">4</p>
      </div>
    </div>
    <div class="virtual-keyboard__row-button"
         (click)="addNumber(5)">
      <div class="virtual-keyboard__row-button-label">
        <p class="number">5</p>
      </div>
    </div>
    <div class="virtual-keyboard__row-button --non-border-right"
         (click)="addNumber(6)">
      <div class="virtual-keyboard__row-button-label">
        <p class="number">6</p>
      </div>
    </div>
  </div>
  <div class="virtual-keyboard__row">
    <div class="virtual-keyboard__row-button"
         (click)="addNumber(7)">
      <div class="virtual-keyboard__row-button-label">
        <p class="number">7</p>
      </div>
    </div>
    <div class="virtual-keyboard__row-button"
         (click)="addNumber(8)">
      <div class="virtual-keyboard__row-button-label">
        <p class="number">8</p>
      </div>
    </div>
    <div class="virtual-keyboard__row-button --non-border-right"
         (click)="addNumber(9)">
      <div class="virtual-keyboard__row-button-label">
        <p class="number">9</p>
      </div>
    </div>
  </div>
  <div class="virtual-keyboard__row --non-border-bottom">
    <div class="virtual-keyboard__row-button"
         (click)="clearPhoneNumber()">
      <div class="virtual-keyboard__row-button-label">
        <p class="number">C</p>
      </div>
    </div>
    <div class="virtual-keyboard__row-button"
         (click)="addNumber(0)">
      <div class="virtual-keyboard__row-button-label">
        <p class="number">0</p>
      </div>
    </div>
    <div class="virtual-keyboard__row-button --non-border-right"
         (click)="subNumber()">
      <div class="virtual-keyboard__row-button-label">
        <p class="number"><i class="fas fa-backspace"></i></p>
      </div>
    </div>
  </div>
</div>
