<div class="modal-header">
  <p class="modal-title h4">{{'SPEND_WALLET.title'|translate}}</p>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="onDismiss('Cross click')">
    <i class="close-icon fas fa-times"></i>
  </button>
</div>
<div class="modal-body">

  <div class="row mb-3 modal-body__header">

    <div class="col-6">
      <b>{{walletTitle}}</b>
    </div>
    <div class="col-6 text-align-right">
      $ {{walletBalance || '0'}}
    </div>

  </div>
  <hr>
  <div>
    <div class="row mb-3 text-align-center">
      <div class="col-12"
           *ngIf="!isConfirm && !isInputPIN modal-body__header">
           {{'SPEND_WALLET.question-customer'|translate}}
      </div>
      <div class="col-12 modal-body__header">
        <h4>$ {{walletValue}} </h4>
      </div>
      <div class="col-12 mb-3 d-flex flex-column modal-body__header">
        <a class="edit-amount"
           (click)="editAmount()"
           *ngIf="isEdit">{{'SPEND_WALLET.edit-amount'|translate}}</a>
        <input readonly
               *ngIf="isInputPIN"
               class="input-PIN border-0 text-center h3"
               placeholder="Enter redemption PIN"
               value="{{charPINvalue}}">
        <a *ngIf="isInputPIN && !isResend"
           class="resend-pin"
           (click)="resendPIN()"
           [ngClass]="{'pointer-event-none': isWaitResend}">{{'SPEND_WALLET.resend-pin'|translate}}
        </a>
      </div>
      <div class="col-12 mt-3"
           *ngIf="isConfirm && !isInputPIN">
        <div class="new-balance border d-flex align-items-center">
          <p class="text-center w-100">{{'SPEND_WALLET.new-balance'|translate}} <b>$ {{newBalance}}</b></p>
        </div>
        <div class="total-spend  border border-top-0  border-bottom-0 d-flex align-items-center">
          <p class="text-center w-100"> <b>$ {{walletValue}}</b> {{'SPEND_WALLET.will-spent'|translate}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="!isConfirm">
      <div class="virtual-keyboard w-100">
        <div class="virtual-keyboard__row">
          <div class="virtual-keyboard__row-button"
               (click)="addNumber(1)">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">1</p>
            </div>
          </div>
          <div class="virtual-keyboard__row-button"
               (click)="addNumber(2)">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">2</p>
            </div>
          </div>
          <div class="virtual-keyboard__row-button --non-border-right"
               (click)="addNumber(3)">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">3</p>
            </div>
          </div>
        </div>
        <div class="virtual-keyboard__row">
          <div class="virtual-keyboard__row-button"
               (click)="addNumber(4)">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">4</p>
            </div>
          </div>
          <div class="virtual-keyboard__row-button"
               (click)="addNumber(5)">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">5</p>
            </div>
          </div>
          <div class="virtual-keyboard__row-button --non-border-right"
               (click)="addNumber(6)">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">6</p>
            </div>
          </div>
        </div>
        <div class="virtual-keyboard__row">
          <div class="virtual-keyboard__row-button"
               (click)="addNumber(7)">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">7</p>
            </div>
          </div>
          <div class="virtual-keyboard__row-button"
               (click)="addNumber(8)">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">8</p>
            </div>
          </div>
          <div class="virtual-keyboard__row-button --non-border-right"
               (click)="addNumber(9)">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">9</p>
            </div>
          </div>
        </div>
        <div class="virtual-keyboard__row --non-border-bottom">
          <div class="virtual-keyboard__row-button"
               (click)="addDotValue()">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">.</p>
            </div>
          </div>
          <div class="virtual-keyboard__row-button"
               (click)="addNumber(0)">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">0</p>
            </div>
          </div>
          <div class="virtual-keyboard__row-button --non-border-right"
               (click)="subNumber()">
            <div class="virtual-keyboard__row-button-label">
              <p class="number">
                <i class="fas fa-backspace"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="modal-footer">
  <button class="button-next button btn w-100"
          *ngIf="isNext"
          [ngClass]="{'pointer-event-none': isValidWalletIput()}"
          type="button"
          (click)="onClickNextButton()">{{'BUTTON.next'|translate}}</button>
  <button class="button-next-input-pin button btn w-100"
          *ngIf="isInputPIN"
          [ngClass]="{'pointer-event-none': isVaildInputPIN()}"
          type="button"
          (click)="onClickNextInputPINButton()">
    <span *ngIf="!isWait">{{'BUTTON.next'|translate}}</span>
    <span *ngIf="isWait">
      <i class="icon-loading fa fa-spinner fa-spin ml-2"></i>
    </span>
  </button>
  <button class="button btn w-100"
          *ngIf="isConfirm && !isInputPIN"
          type="button"
          (click)="onClickConfirmButton()">{{'BUTTON.confirm'|translate}}</button>
</div>
