.forgot-pass-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  .tog-logo {
    width: 30%;
    padding-top: 5%;
    margin-bottom: 20px;
    align-self: center;
  }
  .card-header {
    text-align: center;
    font-size: 18px;
  }
  .form-group {
    &--title {
      float: left;
    }
    &--custom{
      display: flex;
      flex-direction: column;
    }
  }
  .error {
    text-align: left;
  }
}
