<div class="container forgot-pass-page">
  <img class="tog-logo" src="../../../../assets/img/logo/300_dpi_black.png">
  <div class="card">
    <div class="card-header">
      {{'LOGIN.forgot-password'|translate}}
    </div>
    <div class="card-body">
      <form [formGroup]="forgotPasswordForm">
        <fieldset>
          <div class="form-group form-group--custom">
            <label class="form-group--title">{{'LOGIN.phoneNumber'|translate}}</label>
            <div class="row">
              <div class="col-md-2">
                <select class="form-control"
                        formControlName="countryCode">
                  <option value="65">+65 (SGP)</option>
                </select>
              </div>
              <div class="col-md-10">
                <input class="form-control"
                       type="tel"
                       placeholder="{{'LOGIN.inputPhoneNumber'|translate}}"
                       formControlName="phoneNum"
                       [ngClass]="{'is-invalid':(forgotPasswordForm.get('phoneNum').touched ||
                                         forgotPasswordForm.get('phoneNum').dirty)&&
                                         !forgotPasswordForm.get('phoneNum').valid}">
                <span class="error invalid-feedback" *ngIf="(forgotPasswordForm.get('phoneNum').touched ||
                                                   forgotPasswordForm.get('phoneNum').dirty) &&
                                                    forgotPasswordForm.get('phoneNum').errors">
              <span *ngIf="forgotPasswordForm.get('phoneNum').errors.required">
                {{'ERROR.emptyPhoneNumber'|translate}}
              </span>
            </span>
              </div>
            </div>

          </div>
        </fieldset>
        <div class="group-action">
          <a (click)="backToSignIn()" >{{'BUTTON.sign-in'|translate}}</a>
          <button (click)="forgotPassword()"
                  type="button"
                  class="btn btn--orange"
                  [disabled]="!forgotPasswordForm.get('phoneNum').valid">{{'BUTTON.reset-password'|translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
